<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
    <link href="dist/css/flat-ui.css" rel="stylesheet">

    <!-- Loading DOC css -->
    <link href="assets/css/docs.css" rel="stylesheet">

  </head>
  <body>

    
    <div class="container">
        <h1>Status: <span style="color: #E74C3C">{{ status }}</span></h1>
        <!-- Default switch -->
<input type="checkbox" checked data-toggle="switch" name="default-switch" id="switch-01" />

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video.js"></script>

    <script src="dist/scripts/flat-ui.js"></script>

    <script src="assets/js/prettify.js"></script>
    <!-- <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> -->
    <script src="assets/js/application.js"></script>


  </body>
</html>
